.profile{
  display: flex;
  width: 100%;
  .profileContainer{
    flex: 6;
    color: var(--light-text-colour-2);

    .mainSection{
      margin: 20px;
      padding: 20px;
      display: flex;
      gap: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
      box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
      border-radius: 10px;  
      flex-direction: column;

      .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--light-text-colour-2);

        .title{
          font-size: 16px;
          font-weight: 500;
        }

        .editBtn{
          border: none;
          background-color: transparent;
          vertical-align: middle;
          cursor: pointer;
          min-width: 50px;
          color: var(--light-text-colour-2);
 
        }
      }
      .item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        .itemImg{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          border: solid var(--light-text-colour-2);
        }

        .details{
          margin-top: 20px;
          color: var(--light-text-colour-1);
          .itemTitle{
            text-align: center;
            margin-bottom: 20px;
          }

          .detailItem{
            margin-bottom: 10px;

            .itemKey{
              font-weight: bold;
              margin-right: 10px;
            }

            .itemVal{
              font-weight: 300;
            }
          }

        }
      }
    }
  }
}