.widget {
  transition-duration: 1s;
  transform-style: preserve-3d;
  display: flex;
  flex:1;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  border-radius: 10px;
  min-height: 150px;
  max-height: 250px;
  min-width: 150px;
  flex-wrap: wrap;

  &:hover {
    cursor: pointer;
  }
  
  &.is_flipped{
    transform: rotateY(180deg);
    transition-duration: 1s;
  }

  .widget__back {
    transform: rotateY(180deg);
    position: absolute;

    .widget__input{
      width: 70%;
    }
  }

  
  .widget__front {
    position: absolute;
  }

  .widget__front, .widget__back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backface-visibility: hidden;
    
    .left, .right{
      padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2f2f30;

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .title{
      padding-top: 1px;
      font-weight: bold;
      font-size: 14px;
      color: #7d7e80;
    }

    .counter{
      font-size: 16px;
      font-weight: 300;
    }
    .link{
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid #7d7e80;
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }

  }
  }

}

