.widget {
  transition-duration: 1s;
  transform-style: preserve-3d;
  display: flex;
  flex:1;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  border-radius: 10px;
  min-height: 250px;
  max-height: 250px;
  min-width: 150px;
  flex-wrap: wrap;

  &:hover {
    cursor: pointer;
  }
  
  &.is_flipped{
    transform: rotateY(180deg);
    transition-duration: 1s;
  }

  .widget__back {
    transform: rotateY(180deg);
    position: absolute;

    .widget__input{
      width: 70%;
    }
  }

  
  .widget__front {
    position: absolute;
  }

  .widget__front, .widget__back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backface-visibility: hidden;
    
    .inputGroup{
      .inputText{
        color: var(--light-text-colour-1);
        border-color: var(--light-hover-bg-colour);
      }
      .widget__input{
        color: var(--light-text-colour-1);
        border-color: var(--light-hover-bg-colour);
  
        &::placeholder {
          color: var(--light-hover-bg-colour);
        }
      }
    }

    .left, .right{
    padding: 5px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--light-text-colour-1);

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        padding-top: 5px;
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .title{
      padding-top: 10px;
      font-weight: bold;
      font-size: 14px;
      color: var(--light-text-colour-2);
    }

    .counter{
      font-size: 16px;
      font-weight: 300; 
    }
    .link{
      width: max-content;
      font-size: 12px;
      color: var(--light-text-colour-2);
      border-bottom: 1px solid var(--light-text-colour-2);
    }

    .icon {
      font-size: 36px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }

    .purple{
      background-color: rgba(128, 0, 128, 0.2);
      color: purple;
    }
    .green{
      background-color: rgba(0, 128, 0, 0.2); 
      color: green;
    }

    .crimson{
        color: crimson;
        background-color: rgba(255, 0, 0, 0.2);  
    }

  }
  .right{
    padding-right: 10px;
  }

  .left{
    padding-left: 10px;
  }
  }

}

