.navbar{
  height: 50px;
  border-bottom: 0.5px solid var(--light-text-colour-2);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--light-text-colour-2);

  .wrapper{
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .items{
      display: flex;
      align-items: center;

      .item{
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon{
          font-size: 20px;
        }

        .avatar{
          font-size: 30px;
          border-radius: 50%;
          border: 0.5px solid var( --light-text-colour-1);
        }
      }

    }
  }
}