.calculator{
  display: flex;
  width: 100%;
  .calcContainer{
    flex: 6;
    color: var(--light-text-colour-2);
    
    .mainSection{
      margin: 20px;
      padding: 20px;
      display: flex;
      gap: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
      box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
      border-radius: 10px;  
      flex-direction: column;
      max-width: 500px;


      .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--light-text-colour-2);

        .title{
          font-size: 16px;
          font-weight: 500;
        }

        }
      .form{
        
          margin:20xpx;
          color: var(--light-text-colour-1);

        
        
        .calcBtn{
          padding: 10px;
          margin-top: 1rem;
          margin-bottom: 1.2rem;
          background-color: var(--light-main-bg-colour-2);
          border:none;
          border-radius: 0.3rem;
          color: var(--light-text-colour-1);
          width: 100%;
          cursor: pointer;
          flex-direction: row;
          justify-content: center;
          vertical-align: middle;

          &:hover{
            background-color: var(--light-hover-bg-colour);
            color: var(--light-hover-text-colour);
          }

          &:disabled{
            background-color: lightgrey;
            color: rgb(136, 135, 135);
            cursor: not-allowed;
          }
        }
      }
    }
 }
}