.sidebar {
  flex: 1;
  border-right: 0.5px solid var(--light-text-colour-2);
  min-height: 100vh;
  background-color: var(--light-main-bg-colour-2);
  display: flex;
  flex-direction: column;

  .top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
      font-size: 20px;
      font-weight: bold;
      color: var(--light-text-colour-2);
    }
  }
  hr{
    height: 0;
    border: none;
    // border: 0.5px solid var(--light-hover-bg-colour);
  }
  .centre{
    padding-left: 10px;
    padding-top: 15px;
   
    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: var(--light-text-colour-1);
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li{
        display: flex;
        align-items:center;
        padding: 5px;
        padding-right: 10px;
        cursor: pointer;
        color: var(--light-text-colour-2);
        
        &:hover{
          background-color: var(--light-hover-bg-colour);
          color: var(--light-hover-text-colour);
        }

        .icon{
          font-size: 18px;
          color: var( --light-text-colour-2);
          padding-right: 5px;
        }
      }
    }
  }


  .bottom{
    padding-left: 10px;

    margin-top: 5px;
    padding-bottom: 10px;
    
    .title {
      font-size: 10px;
      font-weight: bold;
      color: var(--light-text-colour-1);
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .colourMode{
      display: flex;
      align-items: center;

      .colourOption{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid var(--light-hover-bg-colour);
        cursor: pointer;
        margin: 5px;
  
        &:nth-child(1){
          background-color: var(--light-text-colour-1);
          
        }
        &:nth-child(2){
          background-color: var(--light-main-bg-colour-1);
        }
      }
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;


      li{
        display: flex;
        align-items:center;
        padding: 5px;
        cursor: pointer;
        color: var(--light-text-colour-2);

        
        &:hover{
          background-color: var(--light-hover-bg-colour);
          color: var(--light-hover-text-colour);
        }

        .icon{
          font-size: 18px;
          color: var(--light-text-colour-2);
        }
      }
    }
  }
}